AUTH_SECRET="uNiBJn9GeIgadHsG3XCs404wWhDTsjt4VZhbTX0VwEA=" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID="Ov23livUni6gesCW8x6A"
AUTH_GITHUB_SECRET="1221c94f477437674bb0f1ee8c265941d7e4e1ce"
NEXT_PUBLIC_SANITY_PROJECT_ID="8vmi6e7t"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="vX"
SANITY_WRITE_TOKEN="sk4MOSI1xAlf7geHoKWh25nrPx82aSSeWBi9wX7CLDVyVqeZdCvk4thJLOcfM3yY1kL1bHRf2ztHfq6CshkYicDQZ2BbMTKDmUIx7fV2bzIKg8emL38zcciFWCxnTZSILjYHFJUojHXBOJg39iLYmgUkR8oDXTqMf5Km4D0r3I9YALPUmaBN"
